div {
    width: 121.3px;
    height: 181px;
    position: relative;
    background-image: url('imagenes/anim.png');
    
    -webkit-animation: miAnimacion  .8s steps(5) infinite;

}

 @-webkit-keyframes miAnimacion {
    0% {
        background-position: 0px;
    }
     
    100%{
    
       background-position: -598px
        
    }
 
}