body {
    font-family: 'Arial'
}
label {
    display: block;
}
input{
    display: block;
    margin: 10px 0;
    height: 30px;
    width: 300px;
    font-size: 20px;
    border: 1px solid silver;
    outline: none;
}

input:focus {
  box-shadow: 0 0 5px rgb(238, 81, 99);
  border: 1px solid rgb(238, 81, 99);
}

