div {
    background-color: #fff;
    background-image:
        linear-gradient(90deg, transparent 79px, #d4abbf 79px, #d4abbf 84px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);

    
    padding:  0 100px 0;
    
    background-size: 100% 30px;
}

p{
    line-height: 30px;
    margin: 0;
    padding: 0;
}
