div{
    display: block;
    margin: 50px 0;
}

#circulo {
    width: 100px;
	height: 100px;
	background: green;
    
    border-radius: 50px;
}


#triangulo {
    width: 0;
	height: 0;
    
    border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
    
}

#trapecio {
    height: 0;
	width: 100px;
    
    border-bottom: 100px solid green;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}

#pentagono {
    position: relative;
    width: 54px;
    
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: green transparent;
}

#pentagono:before {
     content: "";
    
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent green;
}


#hexagono {
    width: 100px;
	height: 55px;
	background: green;
	position: relative;
}

#hexagono:before {
    content: "";
    position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid green;
}

#hexagono:after {
    content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid green;
}